<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
	<!-- Marker definition -->
	<extension point="org.eclipse.core.resources.markers"
		id="ca.umontreal.ift3150.js.marker">
		<persistent
			value="false">
		</persistent>
		<super
			type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<!-- Customized image for the marker-->
	<extension point="org.eclipse.ui.ide.markerImageProviders">
		<imageprovider
			markertype="ca.umontreal.ift3150.js.marker"
			icon="icons/marker.gif"
			id="ca.umontreal.ift3150.js.imageprovider">
		</imageprovider>
	</extension>
	
	<!-- Annotation associated to the marker -->
	<extension
		point="org.eclipse.ui.editors.annotationTypes">
		<type
			markerType="ca.umontreal.ift3150.js.marker"
			name="ca.umontreal.ift3150.js.annotation">
		</type>
	</extension>
	
	<!-- Annotation configuration -->
	<extension
		point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification
			annotationType="ca.umontreal.ift3150.js.annotation"
			colorPreferenceKey="ca.umontreal.ift3150.js.color"
			colorPreferenceValue="51,51,255"
			icon="icons/marker.gif"
			contributesToHeader="false"
			highlightPreferenceKey="ca.umontreal.ift3150.js.highlight"
			highlightPreferenceValue="true"
			includeOnPreferencePage="true"
			label="JS Info"
			overviewRulerPreferenceKey="ca.umontreal.ift3150.js.overview"
			overviewRulerPreferenceValue="true"
			presentationLayer="0"
			textPreferenceKey="ca.umontreal.ift3150.js.text"
			textPreferenceValue="true"
			textStylePreferenceValue="SQUIGGLES"
			verticalRulerPreferenceKey="ca.umontreal.ift3150.js.ruler"
			verticalRulerPreferenceValue="true">
		</specification>
	</extension>
	
	<!-- Marker quick fix -->
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			markerType="ca.umontreal.ift3150.js.marker"
			class="ca.umontreal.ift3150.js.editor.QuickFixer"/>
	</extension>
	
	<!-- Menu on IProject -->
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="ca.umontreal.ift3150.js.ui.menu"
			objectClass="org.eclipse.core.resources.IProject">
			<action
				id="ca.umontreal.ift3150.js.ui.menu.action"
				label="Open Profile File"
				enablesFor="1"
				class="ca.umontreal.ift3150.js.ui.Menu">
			</action>
		</objectContribution>
	</extension>
	
	<!-- View -->
	<extension point="org.eclipse.ui.views">
		<category
        	name="Plugin JS"
            id="PluginCategory">
		</category>
		<view
			name="Plugin View"
			category="PluginCategory"
			icon="icons/color-palette.png"
			class="ca.umontreal.ift3150.js.ui.PluginView"
			id="ca.umontreal.ift3150.js.ui.PluginView">
		</view>
   </extension>

</plugin>
