<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<!-- Hover behaviour -->
	<extension point="org.eclipse.wst.jsdt.ui.javaEditorTextHovers">
		<hover
			id="ca.umontreal.ift3150.js.JSHover"
			class="ca.umontreal.ift3150.js.editor.JSHover"
			activate="true">
		</hover>
	</extension>
	
	<!-- Marker definition -->
	<extension point="org.eclipse.core.resources.markers"
		id="ca.umontreal.ift3150.js.marker">
		<persistent
			value="false">
		</persistent>
		<super
			type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<!-- Customized image for the marker-->
	<extension point="org.eclipse.ui.ide.markerImageProviders">
		<imageprovider
			markertype="ca.umontreal.ift3150.js.marker"
			icon="icons/marker.gif"
			id="ca.umontreal.ift3150.js.imageprovider">
		</imageprovider>
	</extension>
	
	<!-- Annotation associated to the marker -->
	<extension
		point="org.eclipse.ui.editors.annotationTypes">
		<type
			markerType="ca.umontreal.ift3150.js.marker"
			name="ca.umontreal.ift3150.js.annotation">
		</type>
	</extension>
	
	<!-- Annotation configuration -->
	<extension
		point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification
			annotationType="ca.umontreal.ift3150.js.annotation"
			colorPreferenceKey="ca.umontreal.ift3150.js.color"
			colorPreferenceValue="51,51,255"
			icon="icons/marker.gif"
			contributesToHeader="false"
			highlightPreferenceKey="ca.umontreal.ift3150.js.highlight"
			highlightPreferenceValue="true"
			includeOnPreferencePage="true"
			label="JS Info"
			overviewRulerPreferenceKey="ca.umontreal.ift3150.js.overview"
			overviewRulerPreferenceValue="true"
			presentationLayer="0"
			textPreferenceKey="ca.umontreal.ift3150.js.text"
			textPreferenceValue="true"
			textStylePreferenceValue="SQUIGGLES"
			verticalRulerPreferenceKey="ca.umontreal.ift3150.js.ruler"
			verticalRulerPreferenceValue="true">
		</specification>
	</extension>
	
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="ca.umontreal.ift3150.js.ui.menu"
			objectClass="org.eclipse.core.resources.IProject">
			<action
				id="ca.umontreal.ift3150.js.ui.menu.action"
				label="Open analysis file"
				enablesFor="1"
				class="ca.umontreal.ift3150.js.ui.Menu">
			</action>
		</objectContribution>
	</extension>
	
	<!-- Menu & Button -->
	<extension point="org.eclipse.ui.actionSets">
		<actionSet
			label="Action Set"
			visible="true"
			id="ca.umontreal.ift3150.js.ui.actionSet">
			<menu
				label="Analysis Menu"
				id="sampleMenu">
				<separator
					name="sampleGroup">
				</separator>
			</menu>
			<action
				label="Analysis"
				icon="icons/iconAnalysis.png"
				class="ca.umontreal.ift3150.js.ui.AnalysisButtonAction"
				tooltip="Select analysis results file"
				menubarPath="sampleMenu/sampleGroup"
				toolbarPath="sampleGroup"
				id="ca.umontreal.ift3150.js.ui.AnalysisButtonAction">
			</action>
		</actionSet>
	</extension>
	
	<!-- Preferences pages -->
	<extension
    	point="org.eclipse.ui.preferencePages">
    	<page
			name="Plugin JS"
			id="ca.umontreal.ift3150.js.preferences.pluginpage"
			class="ca.umontreal.ift3150.js.preferences.PluginPage"/>
		<page
			name="Choix des couleurs"
			id="ca.umontreal.ift3150.js.preferences.colorpage"
			class="ca.umontreal.ift3150.js.preferences.ColorPreferencesPage"
			category="ca.umontreal.ift3150.js.preferences.pluginpage"/>
	</extension>

</plugin>
